.container {
  width: 80%;
  margin: 20px auto;
}

.block {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center;
}

.product-card {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  text-align: right;
}

.h-width {
  width: 50%;
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
